header {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 10dvh;

                /* 🔴 CLAVE */
    display: flex;
    align-items: center;       /* centra vertical */
    justify-content: space-between;

    background-color: rgb(198, 22, 24);
    color: white;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
    width: 100%;

    z-index: 1000;
   box-shadow: 0 15px 12px -6px rgba(0, 0, 0, 0.45); 
}
.HeaderList a {
  color: inherit;        /* usa el color del contenedor */
  text-decoration: none; /* sin subrayado */
}

.HeaderList a:hover {
  text-decoration: none; /* asegura que no aparezca */
}
.HeaderList
{
    margin-right: 10px;
}
.HeaderList >ul
{
   display: flex;
   gap:  16px;
    list-style: none;  




}
.HeaderList > ul > li  {
  position: relative;
  border-bottom:  solid transparent;
  transition: border-color 0.5s ease-in-out;
}

.HeaderList > ul > li:hover {
  cursor: pointer;
  border-bottom-color: currentColor; /* aparece el “subrayado” */
}


header>div>img
{
    width: 100%;
  height: 100%;
  object-fit: contain; 
 
 
}
   
.contLogo
{
  padding:4px;
  height:80px;
}


@media (max-width: 700px) {
  header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto; /* Cambiamos a auto para que se ajuste al contenido */
    min-height: 80px; /* Establecemos una altura mínima */
    z-index: 1000;
    display: flex;

    align-items: center; /* Centramos horizontalmente */
    justify-content: center; /* Centramos verticalmente */
    padding: 10px 0; /* Añadimos un poco de padding arriba y abajo */
    overflow: visible;
  }


  .HeaderList > ul > li {
    font-size: 15px;
  }

  /* Ajustamos el contenedor del logo para que no sea tan alto en móviles */
  .contLogo {
    height: 50px; /* Reducimos la altura del logo */
    padding: 0;
    margin-bottom: 5px; /* Espacio entre el logo y la lista */
  }

  /* Asegurarnos de que el contenido de la página no se oculta detrás del header */
  body {
    padding-top: 80px; /* Igual a la altura del header */
  }
}