html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;


}
#root {
  min-height: 100dvh; /* clave */
}
.ContAbout,
.ContMarket,
footer {
  scroll-margin-top: 90px;
}
@media (max-width:700px)
{
  .OutBorder
  {
        background-color: rgb(198, 22, 24);
    height: 35px;
  }
 

}
