html, body,#root {
  width: 100%;

  margin: 0;
  padding: 0;
  background-color: rgb(223, 225, 228);

  



}


.ContAbout,
.ContMarket,
footer {
  scroll-margin-top: 90px;
}

@media  (max-width:700px) {
.ContAbout,
.ContMarket,
footer {
  scroll-margin-top: 130px;
}

}