body
{
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 204, 209);

}
.ContAbout,
.ContMarket,
footer {
  scroll-margin-top: 90px;
}
@media (max-width:700px)
{
  .ContAbout,
.ContMarket,
footer {
  scroll-margin-top: 10px;
}
}
