html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}
#root
{
    width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.ContAbout,
.ContMarket,
footer {
  scroll-margin-top: 90px;
}
@media (max-width:700px)
{

}
